{% extends "::base.html.twig" %}

{% block title %}{{ album.title }}{% endblock %}

{% block body %}
<h1>{{ album.title }}</h1>
    <p>Artist: {{ album.artist }}</p>
    <img src="{{ asset('public/image_uploads/' ~ album.image) }}" style="width: 300px; height: 300px;">
    <ol>Tracklist:
        {% for track in album.trackList %}
            <li>{{ track }}</li>
        {% endfor %}
    </ol>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('review_create', {'album_id': album.id}) }}">Add a review</a>
    {% if app.user.username == album.author %}
    <a href="{{ path('album_edit', {'album_id': album.id}) }}">Edit Album</a>
    {% endif %}
    {% endif %}

    {% for review in reviews %}
        <div class="review">
            <p>Score: {{ review.score }}</p>
            <p>Review: {{ review.review }}</p>
            <p>Created at {{ review.timestamp|date('H:i d/m/y') }} by
                {{ review.author }}</p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                {% if app.user.username == review.author %}
                    <a href="{{ path('review_edit', {'review_id': review.id}) }}">Edit Review</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
